@media (prefers-color-scheme: dark) {
    .hero-section {
        color: white;
        background-image: linear-gradient(#00000000 60%, #105170), url(../static/screenshots/hero-dark@0.5x.webp);
    }
}

@media (prefers-color-scheme: light) {
    .hero-section {
        color: white;
        background-image: linear-gradient(#00000000 60%, #a6daf2), url(../static/screenshots/hero-light@0.5x.webp);
    }
}

.hero-section {
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: system-ui;
    text-align: center;
}

.logo {
    width: 100%;
    max-width: 475px;
    margin: inherit;
}

.logo h1 {
    font-size: 10rem;
    font-weight: bold;
    margin: inherit;
}

.logo p {
    font-size: 2rem;
    font-weight: bold;
}
