@media (prefers-color-scheme: dark) {
    .hero-section {
        background-image: linear-gradient(hsla(0, 0%, 0%, 0) 60%, hsl(199, 75%, 25%)), url(../static/screenshots/hero-dark@0.5x.webp);
    }
}

@media (prefers-color-scheme: light) {
    .hero-section {
        background-image: linear-gradient(hsla(0, 0%, 0%, 0) 60%, hsl(199, 75%, 80%)), url(../static/screenshots/hero-light@0.5x.webp);
    }
}

.hero-section {
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.hero-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: system-ui;
    text-align: center;
}

.hero-content h1 {
    padding: 0px 0px 40px 0px;
    font-size: 4rem;
    font-weight: bold;
    margin: inherit;
}

.hero-content h2 {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    color: transparent;
    background-image: linear-gradient(to right, hsl(0, 0%, 100%), 70%, hsl(199, 75%, 57%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-background-fill-color: transparent;
}

.hero-content p {
    font-size: 2rem;
}

.logo {
    width: 100%;
    max-width: 475px;
    margin: inherit;
}
